<div class="margin-bottom-100"></div>
<div class="text-center" id="home-header-container">
    <h1 >ToDo System</h1>
    <ul class="list-group">
        <form name="todoForm">
            <input type="text" ng-model="text" required="required" class="form-control"/>
            <button class="btn btn-primary" ng-disabled="todoForm.$invalid" ng-click="addTask(text)">Add todo</button>
        </form>   
        <li class="list-group-item" ng-repeat="task in currentTasks">
            <img ng-if="!task.isCompleted" class="img-circle" src="../../img/empty-circle.png">
            <img ng-if="task.isCompleted" class="img-circle" src="../../img/check-circle.png">
            <span class="task-text">{{task.text}}</span>
            <button type="button" class="btn btn-xs btn-danger" ng-click="deleteTask(task._id)">
                    <span class="glyphicon glyphicon-remove"></span>
            </button>
        </li>
    </ul>   
        <div>
            <span> {{uncompleteTasksCount}} tasks left </span>
            <span> All </span>
            <span> Active </span>
            <span> Completed </span>
        </div>
</div>
