body {
  margin-top:60px;
}
h1{
  color: #31b0d5;
}
h3{
  color:#31b0d5;
}
.navbar-right{
  margin-right: 0;
}
.border{
  border: 2px solid #31b0d5;
  padding-bottom: 10px;
}
.home-header-container{
  margin: 20px;

}
.glyphicon-one-fine-empty-dot:before {
    content:"\25cb";
    font-size: 4em;
}
.glyphicon-ok-circle:before {
  font-size: 2em;
}
.img-circle{
  width: 32px;
  height: 32px;
}